/*************************************************SELECTORS*************************************************/
html, body {
  height: 90%;
}

body {
  background: radial-gradient(circle, rgba(8,52,59,1) 0%, rgba(0,10,11,1) 100%);
  color: cyan;
  font-family: "Tilt Warp", sans-serif;
  text-align: center;
}

a {
  color: white;
}

a:hover, a:active {
  color: cyan;
}

h1 {
  color: white;
  margin: 30px;
  font-family: 'Luckiest Guy', serif;
  letter-spacing: 0.5rem;
  text-shadow: 5px 0 #232931;
  text-align: center;
  font-size: 8rem;
}

img {
  display: block;
  margin: 0 auto;
  width: 80%;
}

label {
  color: white;
  display: block;
  font-size: 1rem;
  position: fixed;
  bottom: 0;
  margin: 20px 0;
  width: 100%;
}

p {
  font-size: 1.5rem;
}



/*************************************************CLASS SELECTORS*************************************************/
.btn {
  -webkit-border-radius: 18;
  -moz-border-radius: 18;
  border-radius: 18px;
  border: none;
  font-family: "Tilt Warp", sans-serif;
  font-size: 20px;
  background: #ff7878;
  padding: 20px 40px;
  text-decoration: none;
}

.btn:hover, .btn:active {
  color: white;
  cursor: pointer;
  background: #943636;
  text-decoration: none;
}

.container {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.winner {
  font-size: 3.5rem;
}



